h1{
    text-align: center;
    color: #00f7ff;
    font-family: 'Times New Roman', serif;
    margin-top: 25px;
}
p{
   
    color: #0e193d;
    font-family: 'Times New Roman', serif;
    margin-top: 25px;
}